{% comment %}
    
    Item PDF embed from objectid.
    This include adds a PDF embed to the page.

    E.G. --> {% include feature/item-pdf-embed.html objectid="demo_004" %}

    It requires an "objectid" with the include, which is used to find the object title and PDF link.
    By default no height is necessary as it uses 1by1 Bootstrap responsive embed style, https://getbootstrap.com/docs/4.5/utilities/embed/

    Options: 
    - "objectid" = an objectid of an PDF item in this collection
    - "width" = will use responsive sizing to set the % size on desktop (will be 100% on mobile), choose from "25", "50", "75", or "100"
    - "caption" = by default the figure include automatically adds the title of the item from your metadata. The caption option allows you to manually add a different caption, or give the value false for none.
    - "height" = set embed object height in px (rather than responsive size), e.g. "800px"
    - "ratio" = use Bootstrap embed ratio options "21by9", "16by9", "4by3", or "1by1" to customize the responsive aspect ratio if not using height. 16by9 is default.
    - "float" = will use responsive float utility to add float on desktop (will not float on mobile), choose from "left" or "right"

    Note: if you have issues make sure the item is a PDF item 

{%- endcomment -%}
{%- assign item = site.data[site.metadata] | where: "objectid", include.objectid | first -%}
<div class="text-center">
    <figure class="figure border rounded p-1 feature-w-{{ include.width | default: '100' }}{% if include.float %} feature-float-{{ include.float }} mx-3{% endif %}">
        <div class="{% unless include.height %}embed-responsive embed-responsive-{{ include.ratio | default: '1by1' }}{% endunless %}">
            <object class="embed-responsive-item" {% if include.height %}width="100%" height="{{ include.height }}"{% endif %} data="{{item.filename | prepend: 'objects/' | relative_url}}">
                <p>The PDF is not rendering in your browser. Please use the link below to download the PDF.</p>
            </object>
        </div>
        {% unless include.caption == false %}<figcaption class="figure-caption"><a href="{{ '/items/' | append: item.objectid | append: '.html' | relative_url }}">{% if include.caption %}{{ include.caption }}{% else %}{{ item.title }}{% endif %}</a></figcaption>{% endunless %}
    </figure>
</div>
