{% comment %}

    Bootstrap Jumbotron, https://getbootstrap.com/docs/4.5/components/jumbotron/
    This include adds a Jumbotron feature from an objectid. By default it is configured to work with the About page option "about-featured-image" set in theme.yml without any options necessary. 

    E.G. --> {% include feature/jumbotron.html %}

    Options:
    - "objectid" = one objectid for a photo object in this collection, a relative path to an image in this project, or a full url to any image. If left blank, by default this the image will be the about-featured-image, or the featured-image set in theme.yml.
    - "position" = set background-position, "center", "top", "bottom"
    - "heading" = major heading to display. By default this will be the site title. Give the value false for no heading.
    - "text" = paragraph text below heading. By default this will be the site tagline. Give the value false for no text.
    - "padding" = additional padding added to the feature to increase size. Give value in em or px, e.g. "5em".

    Note: if using a YouTube item and an error image appears, the video may not have a "maxresdefault" image available. Replace "maxresdefault.jpg" in the code below with "hqdefault.jpg"

{%- endcomment -%}

{% if include.objectid %}{% assign jumboId = include.objectid %}
{% elsif site.data.theme.about-featured-image %}{% assign jumboId = site.data.theme.about-featured-image %}
{% elsif site.data.theme.featured-image %}{% assign jumboId = site.data.theme.featured-image %}
{% else %}{% assign jumboId = '/assets/img/collectionbuilder-logo.png' | relative_url %}
{%- endif -%}

{% if jumboId contains '/' %}
{% assign jumboSrc = jumboId | relative_url %}
{% else %}
{% assign jumboItem = site.data[site.metadata] | where: "objectid", jumboId | first %}
{% unless jumboItem.youtubeid %}
{% assign jumboSrc = jumboItem.filename | prepend: '/objects/' | relative_url %}
{% else %}
{% assign jumboSrc = 'https://img.youtube.com/vi/' | append: jumboItem.youtubeid | append: '/maxresdefault.jpg' %}
{%- endunless -%}
{%- endif -%}

<style>
.title-card {
    background-color: #25242485;
    background-color: rgba(37, 36, 36, 0.72);
    color: white !important;
}    
#jumbo-feature {
    background-image: url({{ jumboSrc }});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: {{ include.position | default: 'center' }};
}
{% if include.padding %}
#home-title-box {
    padding-top: {{ include.padding }};
    padding-bottom: {{ include.padding }};
}
{%- endif -%}
@media screen and (max-width: 576px) {
    #home-title-box {
        padding-top: 5em;
        padding-bottom: 5em; 
    }
    .display-4 { font-size:1.75em; }
    #home-tagline { font-size:.85em; }
}
</style>
<div class="jumbotron feature px-0 border" id="jumbo-feature">
    <div id="home-title-box">
        {% unless include.heading == false and include.text == false %}
        <div class="title-card p-2 text-center">
            {% unless include.heading == false %}<h2 class="display-4">{{ include.heading | default: site.title }}</h2>{% endunless %}
            {% unless include.text == false %}<p id="home-tagline">{{ include.text | default: site.tagline }}</p>{% endunless %}
        </div>
        {% endunless %}
    </div>
</div>
