{% comment %}
    Paste Analytics code snippet here (for example from Matomo) or set google-analytics-id in config.yml
{% endcomment %}
<!-- Analytics --> 
{% if site.google-analytics-id %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google-analytics-id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google-analytics-id }}', {
    'anonymize_ip': true
  });
</script>
{%- endif -%}