{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
{%- assign fields = site.data.config-browse -%}
<script>

function makeCard(obj) {
    // find item link
    var itemHref = "{{ '/item.html' | absolute_url | append: '?id=' }}" + obj.id;
    // find images
    var imgSrc, thumbSrc;
    // add images or thumb for objects based on format
    if(obj.youtube) {
      imgSrc = 'https://img.youtube.com/vi/' + obj.youtube + '/hqdefault.jpg';
    } else if (obj.format.includes("image")) {
      imgSrc = obj.filename;
    } else if (obj.format.includes("audio")) {
      thumbSrc = '{{ "/assets/img/audio.svg" | relative_url }}';
    } else if (obj.format.includes("video")) {
      thumbSrc = '{{ "/assets/img/video.svg" | relative_url }}';  
    } else if (obj.format.includes("pdf")) {
      thumbSrc = '{{ "/assets/img/pdf.svg" | relative_url }}';
    } else {
      thumbSrc = '{{ "/assets/img/file.svg" | relative_url }}';
    }  
    // start card
    var card = '<div class="item col-lg-4 col-md-6 col-sm-12 mb-2"><div class="card">';
    // top image for photos
    if(imgSrc) {
      card += '<a href="' + itemHref + '"> <img class="card-img-top lazyload" data-src="' + imgSrc + '" alt="Image of ' + obj.title + '"></a>';
    }
    // title
    card += '<div class="card-body text-center"> <h4 class="card-title"><a href="' + itemHref + '" class="text-dark">' + obj.title + '</a></h4>';
    // thumb for non-photo items
    if(thumbSrc){
      card += '<p><a href="' + itemHref + '"><img class="lazyload w-50" data-src="' + thumbSrc + '" alt="Image of ' + obj.title + '"></a></p>';
    }
    // other fields
    card += '<p class="card-text">';
    {% for f in fields %}{% unless f.hidden == 'true' %}
    if(obj[{{ f.field | jsonify }}]){
    {% if f.display_name %}card += '<strong>{{ f.display_name }}:</strong> ';{% endif %}
    {% if f.btn == 'true' %}
    var btns = obj[{{ f.field | jsonify }}].split(";");
    for (var i = 0, len = btns.length; i < len; i++) {
      if(btns[i] != "") {
        card += '<a class="btn btn-sm btn-secondary m-1 text-wrap" href="{{ '/browse.html' | relative_url }}#' + encodeURIComponent(btns[i].trim()) + '">' + btns[i].trim() + '</a>';
      }
    }
    {% else %}
    card += obj[{{ f.field | jsonify }}];
    {% endif %}
    {% unless forloop.last %}card += '<br>';{% endunless %}
    }
    {% endunless %}{% endfor %}
    card += '</p>';
    // media type
    if(obj.format != "") {
      card += '<p class="card-text"><small><a class="btn btn-sm btn-outline-secondary" href="{{ '/browse.html' | relative_url }}#' + encodeURIComponent(obj.format) + '">' + 
        obj.format.split("/").pop().toUpperCase() + ' <span class="';
      if(obj.format.includes('image')){
        card += 'far fa-image';
      } else if(obj.format.includes('audio')){
        card += 'far fa-file-audio';
      } else if(obj.format.includes('video')){
        card += 'far fa-file-video';
      } else {
        card += 'far fa-file';
      }
      card += '"></span></a></small></p>';
    }
    // view button
    card += '<hr><a href="' + itemHref + '" class="btn btn-sm btn-light" title="link to ' + obj.title + '">View Full Record</a>';
    // close divs
    card += '</div></div></div>';
    // send back big string
    return card;
  }

  /* Fisher-Yates shuffle https://bost.ocks.org/mike/shuffle/ */
  function shuffle(array) {
    var m = array.length, t, i;
    while (m) {
    i = Math.floor(Math.random() * m--);
    t = array[m];
    array[m] = array[i];
    array[i] = t;
    }
    return array;
  }

  /* add items */
  var items = [
    {% for i in items %}
    { "title":{{ i.title | strip | escape | jsonify }}, "format":{% if i.format %}{{ i.format | escape | jsonify }}{% else %}""{% endif %}, {% for f in fields %}{% if i[f.field] %}{{ f.field | escape | jsonify }}:{{ i[f.field] | strip | jsonify }},{% endif %}{% endfor %} {% if i.youtubeid %} "youtube": {{ i.youtubeid | jsonify }}, {% endif %}{% if  i.filename contains '/' %}"filename": "{{ i.filename }}" {% else %}"filename":"{{ '/objects/' | relative_url | append: i.filename }}"{% endif %}, "id":{{ i.objectid | jsonify }} }{% unless forloop.last %},{% endunless %}{% endfor %}
  ];
  /* randomize items once at page load */
  shuffle(items);

  function filterItems(arr,q) {
    // dont filter if no q 
    if (q=="") { 
      var filteredItems = arr; 
    } else {
      q = q.trim().toUpperCase(); 
      // 3 filter options, filter, grep, loop...
      // js filter
      /*
      var filteredItems = arr.filter(function (obj) { return Object.values(obj).join(" ").toUpperCase().includes(q);}); */
      // jquery grep
      /*
      var filteredItems = jQuery.grep(arr, function(obj) { return Object.values(obj).join(" ").toUpperCase().includes(q);}); */
      // (/keyword/i).test(source)
      // js loop
      /*
      var filteredItems = [];
      for (var i = 0, len = arr.length; i < len; i++) {
        if(Object.values(arr[i]).join(" ").toUpperCase().includes(q)){
          filteredItems.push(arr[i]);
        }
      }*/
      // for compatible indexOf loop seems fastest
      var filteredItems = [];
      for (var i = 0, len = arr.length; i < len; i++) {
        var val = "";
        for (var k in arr[i]) { val += arr[i][k]; }
        if(val.toUpperCase().indexOf(q) != -1){
          filteredItems.push(arr[i]);
        }
      }
    }
    // add number 
    $("#numberOf").html(filteredItems.length + " of {{ items | size }} items");
    
    // add stuff, make cards first in giant var, then add all at once to speed things up
    var cards = "";
    for (var i = 0, len = filteredItems.length; i < len; i++) {
      cards += makeCard(filteredItems[i]);
    }
    $("#browseItems").html(cards);

    // finish
    $("#goButton").focus();
    $("#loading").hide();
  };

  var query = "";
  /* filter if hash in initial URL */
  if(window.location.hash) {
    query = decodeURIComponent(location.hash.substr(1));
    $('#quickSearch').val(query);
    filterItems(items,query);
  } else {
    query = "";
    filterItems(items,query);
  }
  /* add hash if search button clicked */ 
  $('#goButton').click( function() {
    window.location.hash = encodeURIComponent($('#quickSearch').val());
  });
  /* add hash if if enter is pressed */
  $('#quickSearch').keypress(function(e){
    if(e.which == 13){
        window.location.hash = encodeURIComponent($('#quickSearch').val());
      }
  });
  /* filter if hash changes */ 
  $(window).on("hashchange", function() {
    // show spinner
    $("#loading").show();
    // read hash
    query = decodeURIComponent(location.hash.substr(1));
    $('#quickSearch').val(query);
    // filter
    filterItems(items,query);
  });



/* item array sorting function */
function sorting(json_object, key_to_sort_by) {
    function sortByKey(a, b) {
        var x = a[key_to_sort_by];
        var y = b[key_to_sort_by];
        if (typeof x === 'string' ) { x = x.toUpperCase(); }
        if (typeof y === 'string' ) { y = y.toUpperCase(); }
        return ((x==null) ? 1: (y==null) ? -1: (x < y) ? -1 : ((x > y) ? 1 : 0));
    }

    json_object.sort(sortByKey);
};

/* add sort function on click of sort options */
$(".browse-sort-item").click(function (event) {
    var field = $(this).data('filter'); // Get the text of the element
    var dname = $(this).text(); // Get the text of the element
    var query = $('#quickSearch').val();
    $(".browse-sort-item").removeClass('active');
    $(this).addClass('active');
    $('#sortfilter').text(dname);
    if (field != 'random') {
        sorting(items, field);
        filterItems(items, query);
    }
    else {
        shuffle(items);
        filterItems(items, query);
    }
}); 
</script>
