{%- assign fields = site.data.config-metadata -%}
<script>
(function(){
    /* add item data */
    var items = { 
        {%- for item in site.data[site.metadata] -%}
        {{ item.objectid | jsonify }} : { {% for f in fields %}"{{ f.field }}": {% if item[f.field] %}{{ item[f.field] | jsonify }}{% else %}"N/A"{% endif %},{% endfor %} "filename": {{ item.filename | jsonify }} }{% unless forloop.last %}, {% endunless %}
        {% endfor %}
    };
    /* get query id from URL */
    var queryString = window.location.search.substring(1).split("=")[1];
    var record = items[queryString];

    if (record) {
        /* add item title */
        var itemTitle = record.title;
        document.getElementById("bc-title").innerHTML = itemTitle;
        document.getElementById("item-title").innerHTML = itemTitle;
        /* add object */ 
        var format = record.format;
        var objectLink = '{{ "/objects/" | absolute_url }}' + record.filename;
        if (format.includes('image')) {
            var itemImage = '<a href="' + objectLink + '" target="_blank"  title="Object download"><img class="img-fluid img-thumbnail" src="{{ "/objects/" | relative_url }}' + record.filename + '" alt="item thumbnail"></a>';
            var itemLink = '<a href="' + objectLink + '" target="_blank" class="btn btn-dark btn-lg" title="Object download">Download Image</a>';
        } else if (format.includes('application')) {
            var itemImage = '<object data="' + objectLink + '" type="application/pdf" width="100%" height="450px"><p>The PDF is not rendering in your browser. Please use the button below to download the PDF.</p></object>';
            var itemLink = '<a href="' + objectLink + '" target="_blank" class="btn btn-dark btn-lg" title="Object download">Download PDF</a>';
        } else if (format.includes('audio')) {
            var itemImage = '<audio controls class="w-100"><source src="' + objectLink + '" target="_blank" type="audio/mpeg">Your browser does not support the audio element.</audio>';
            var itemLink = '<a href="' + objectLink + '" target="_blank" class="btn btn-dark btn-lg" title="Object download">Download Audio File</a>';
        } else if (format.includes('video')) {
            var itemImage = '<div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/' + record.filename + '?rel=0" allowfullscreen></iframe></div>';
            var itemLink = '<a href="https://youtu.be/' + record.filename + '" target="_blank" class="btn btn-dark btn-lg" title="Object download">View on YouTube</a>';
        } else {
            // add no object warning?
        }
        document.getElementById("item-image").innerHTML = itemImage;
        document.getElementById("item-link").innerHTML = itemLink;

        /* add item metadata */
        var fields = '<dl>';
        {% for f in fields %}if (record.{{ f.field }} !="N/A") { fields += '<dt class="field">{{ f.display-name }}:</dt> <dd class="field-value">' + record.{{ f.field }} + '</dd>'; }
        {% endfor %}
        fields += '</dl>';
        document.getElementById("item-metadata").innerHTML = fields;

        /* add prev/next nav */
        var itemKeys = Object.keys(items);
        var current = itemKeys.indexOf(queryString);
        var last = itemKeys.length - 1;
        var next, forward;
        if (current === 0) {
            back = itemKeys[last];
        } else { 
            back = itemKeys[current - 1];
        }
        if (current === last) {
            forward = itemKeys[0];
        } else {
            forward = itemKeys[current + 1];
        }
        var backUrl = "{{ '/browse/item.html?id=' | relative_url }}" + back;
        var forwardUrl = "{{ '/browse/item.html?id=' | relative_url }}" + forward;
        /* add side buttons to page */
        var backButton = '<a class="previous bg-secondary text-white btn btn-lg" href="' + backUrl + '" class="text-white">&laquo;</a>';
        var nextButton = '<a class="next bg-secondary text-white btn btn-lg" href="' + forwardUrl +'" class="text-white">&raquo;</a>';
        document.getElementById("back-button").innerHTML = backButton;
        document.getElementById("next-button").innerHTML = nextButton;
        /* add bottom buttons to page */
        var prevButton = '<a class="btn btn-secondary" href="' + backUrl + '">&laquo; Previous</a>';
        var forButton = '<a class="btn btn-secondary" href="' + forwardUrl + '">Next &raquo;</a>';
        document.getElementById("prev-button").innerHTML = prevButton;
        document.getElementById("for-button").innerHTML = forButton;

        /* add back forward key press */
        document.onkeydown = function(evt) {
        evt = evt || window.event;
        switch (evt.keyCode) {
            case 37:
            location.href = backUrl;
                break;
            case 39:
            location.href = forwardUrl;
                break;
        }};
        
    } else {
        /* no item with that ID */
        document.getElementById("bc-title").innerHTML = 'Not found?';
        document.getElementById("item-title").innerHTML = 'Sorry, item not found. Please visit <a href="{{ "/browse/" | relative_url }}">Browse page</a> to find an item.';
    }

    /* all done, so hide loading animation */
    document.getElementById("loading").style.display = "none";

})();

</script>