{%- assign fields = site.data.config-search -%}
<script src="{{ '/assets/lib/lunr.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/lunr-store.js' | absolute_url }}"></script>
<script>
/* initialize lunr */
var idx = lunr(function () {
  /* add index fields from config */
  this.ref('id')
  {% for f in fields %}{% if f.index == 'true' %}
  this.field({{ f.field | escape | jsonify }})
  {% endif %}{% endfor %}

  //this.pipeline.remove(lunr.trimmer)

  for (var item in store) {
    this.add({
      {% for f in fields %}{% if f.index == 'true' %}
      {{ f.field | escape | jsonify }}: store[item][{{ f.field | escape | jsonify }}],
      {% endif %}{% endfor %}
      id: item
    })
  }
});

/* search function */
function lunr_search () {
  var resultdiv = $('#lunrResults');
  var query = $('#lunrSearch').val();//.toLowerCase();
  /* basic search that supports operators */
  var result = idx.search(query); 
  /* more fuzzy search, but doesn't support operators:
  var result =
    idx.query(function (q) {
      query.split(lunr.tokenizer.separator).forEach(function (term) {
        q.term(term, { boost: 100 })
        if(query.lastIndexOf(" ") != query.length-1){
          q.term(term, {  usePipeline: false, wildcard: lunr.Query.wildcard.TRAILING, boost: 10 })
        }
        if (term != ""){
          q.term(term, {  usePipeline: false, editDistance: 1, boost: 1 })
        }
      })
    });*/
  resultdiv.empty();
  resultdiv.prepend('<tr><td><h4 class="mt-3">' + result.length + ' Result(s) found</h4></td></tr>');
  for (var item in result) {
    var ref = result[item].ref;
    var searchitem =
      '<tr>'+
          '<td class="">' +
            {% assign display = fields | where: 'display','true' %}
            {% for d in display %}
            {% if forloop.first %}
            '<p class="h4"><a href="{{ site.baseurl }}/item.html?id=' + store[ref].id + '">' + store[ref][{{ fields[0].field | escape | jsonify }}]  + '</a></p>' +
            '<p class="ml-3">' +
              {% else %}
              store[ref][{{ d.field | escape | jsonify }}] + '<br> ' +
              {% endif %}{% endfor %}
            '</p></td>' +
      '</tr>';
    resultdiv.append(searchitem);
  }
}
/* init search box and get query string */
$(document).ready(function() {
  $('input#lunrSearch').on('keyup', lunr_search );
  if (window.location.search) {
    var queryString = decodeURIComponent(window.location.search.substring(1).split("=")[1]);
    $('input#lunrSearch').val(queryString);
    lunr_search();
  }
});
</script>