{%- assign items = site.data[site.data.theme.metadata] -%}
{%- assign fields = site.data.map-config -%}
<!-- load leaflet dependencies -->
<script src="{{ '/assets/leaflet/leaflet.js' | relative_url }}"></script>
<script src="{{ '/assets/leaflet/fuse.min.js' | relative_url }}"></script>
<script src="{{ '/assets/leaflet/leaflet.fusesearch.js' | relative_url }}"></script>


<script>
(function(){
    /* add collection map data */
    var geodata = { "type": "FeatureCollection", "features": [ 
    {% for item in items %}{% if item.latitude and item.longitude %}
    { "type":"Feature", "geometry":{ "type":"Point", "coordinates":[{{ item.longitude | strip }},{{ item.latitude | strip }}] }, "properties":
    { "title": {{ item.title | jsonify }}, 
    {% for f in fields %}"{{ f.field }}": {{ item[f.field] | jsonify }},{% endfor %} "filename": {{ item.filename | jsonify }}, "id": {{ item.objectid | jsonify }} } }{% unless forloop.last %}, {% endunless %}{% endif %}{% endfor %}
    ]};
    /* int leaflet map and search */
    
    /* map init and set zoom */
    var map = L.map('map').setView([{{ site.data.theme.latitude | default: 46.727485 }},{{ site.data.theme.longitude | default: -117.014185 }}],{{ site.data.theme.zoom-level | default: 5 }});

    /* load map layer.
    For a demo of possible map layers, see http://leaflet-extras.github.io/leaflet-providers/preview/
    Copy the tile layer demo code below */
    /*
    var Esri_NatGeoWorldMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
        maxZoom: 16
    });
    Esri_NatGeoWorldMap.addTo(map);
    */
    var Esri_WorldStreetMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
    });
         /* add map layers */ 
         var Esri_NatGeoWorldMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
        maxZoom: 16
    });
    var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    });
        /* add base layer switcher */
        var baseMaps = {
        "Esri World StreetMap": Esri_WorldStreetMap,
        "Esri National Geo": Esri_NatGeoWorldMap,
        "Esri Imagery": Esri_WorldImagery
    };
    L.control.layers(baseMaps).addTo(map);
    Esri_WorldStreetMap.addTo(map);

    /* add search, https://github.com/naomap/leaflet-fusesearch */
    var options = {
        title: 'Search items',
        placeholder: 'Search items...',
        threshold: 0.35 // 1 = anything, 0 = exact match
    };
    var searchCtrl = L.control.fuseSearch(options);
    searchCtrl.addTo(map);
    searchCtrl.indexFeatures(geodata.features, {{ fields | where: 'search','true' | map: 'field' | unshift: 'title' | jsonify }});
    {{ item.filename | prepend: 'http://i3.ytimg.com/vi/' | append: '/maxresdefault.jpg' | relative_url }}
    /* add geojson marker and popup to map */
    L.geoJson(geodata, {
        pointToLayer: function(feature,latlng){
            var marker = L.marker(latlng);
            if (feature.properties.format.includes("image")) {marker.bindPopup('<h4><a class="btn btn-light" href="{{ "/browse/item.html?id=" | relative_url }}' + feature.properties.title + '</a></h4><a class="btn btn-light" href="{{ "/browse/item.html?id=" | relative_url }}' + feature.properties.id + '" ><img class="mapthumb d-block mx-auto" src="{{ "/objects/" | relative_url }}' +  feature.properties.filename + '" alt="item thumbnail"></a><p>' + 
            {% for f in fields %}{% if f.display %}
            '<br><strong>{{ f.display }}:</strong> ' + feature.properties.{{ f.field }} + {% endif %}{% endfor %}
            '<br><a class="btn btn-light" href="{{ "/browse/item.html?id=" | relative_url }}' + feature.properties.id + '" >View Item</a></p>');}
            else  if (feature.properties.format.includes("pdf")) {marker.bindPopup('<h4><a class="btn btn-light" href="{{ "/browse/item.html?id=" | relative_url }}' + feature.properties.title + '</a></h4><a class="btn btn-light" href="{{ "/browse/item.html?id=" | relative_url }}' + feature.properties.id + '" ><img class="mapthumb d-block mx-auto" src="{{ "/objects/svg/pdf.svg" | relative_url }}" alt="item thumbnail"></a><p>' + 
            {% for f in fields %}{% if f.display %}
            '<br><strong>{{ f.display }}:</strong> ' + feature.properties.{{ f.field }} + {% endif %}{% endfor %}
            '<br><a class="btn btn-light" href="{{ "/browse/item.html?id=" | relative_url }}' + feature.properties.id + '" >View Item</a></p>');}
            else if (feature.properties.format.includes("video")) {marker.bindPopup('<h4><a class="btn btn-light" href="{{ "/browse/item.html?id=" | relative_url }}' + feature.properties.title + '</a></h4><a class="btn btn-light" href="{{ "/browse/item.html?id=" | relative_url }}' + feature.properties.id + '" ><img class="mapthumb d-block mx-auto" src="http://i3.ytimg.com/vi/' +  feature.properties.filename + '/maxresdefault.jpg" alt="item thumbnail"></a><p>' + 
            {% for f in fields %}{% if f.display %}
            '<br><strong>{{ f.display }}:</strong> ' + feature.properties.{{ f.field }} + {% endif %}{% endfor %}
            '<br><a class="btn btn-light" href="{{ "/browse/item.html?id=" | relative_url }}' + feature.properties.id + '" >View Item</a></p>');}
            else {marker.bindPopup('<h4><a class="btn btn-light" href="{{ "/browse/item.html?id=" | relative_url }}' + feature.properties.title + '</a></h4><a class="btn btn-light" href="{{ "/browse/item.html?id=" | relative_url }}' + feature.properties.id + '" ><img class="mapthumb d-block mx-auto" src="{{ "/objects/svg/" | relative_url }}' +  feature.properties.format.substring(0,feature.properties.format.indexOf("/")) + '.svg" alt="item thumbnail"></a><p>' + 
            {% for f in fields %}{% if f.display %}
            '<br><strong>{{ f.display }}:</strong> ' + feature.properties.{{ f.field }} + {% endif %}{% endfor %}
            '<br><a class="btn btn-light" href="{{ "/browse/item.html?id=" | relative_url }}' + feature.properties.id + '" >View Item</a></p>');}
            return marker;
        },
        onEachFeature: function (feature, layer) {
            feature.layer = layer;
        }
    }).addTo(map);
})();
</script>
