<nav class="navbar navbar-expand-md navbar-dark bg-secondary border-bottom">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#page-nav" aria-controls="page-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="page-nav">
            <ul class="navbar-nav mr-auto">
                {% for nav in site.data.nav-config %}
                <li class="nav-item {% if page.url == nav.stub %}active{% endif %}">
                    <a class="nav-link" href="{{ nav.stub | relative_url }}">{{ nav.display-text }}</a>
                </li>
                {% endfor %}
            </ul>
            <script>
                function site_search() {
                    var query = document.getElementById("site-search").value;
                    window.open("{{ '/search/index.html' | absolute_url }}?q=" + query, "_self" );
                }
            </script>
            <form class="form-inline my-2 my-lg-0" role="search" id="search" onsubmit="site_search(); return false;">
                <input id="site-search" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary border my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
