{% if page.layout == "home-infographic" %}
<style>
#home-banner {
    background-image: url('{{ site.data.theme.home-banner-image | relative_url }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#home-title-box {
    padding-top: {{ site.data.theme.home-title-y-padding }};
    padding-bottom: {{ site.data.theme.home-title-y-padding }};
}
.title-card {
    background-color: #fff; /* fallback for IE */
    background-color: rgba(255, 255, 255, 0.86);
    border: 2px solid #191919;
}
</style>
<div id="home-banner" class="jumbotron jumbotron-fluid mb-0" aria-label="">
    <div class="container">
        <div class="row justify-content-center">
            <div id="home-title-box" class="col-md-10">
                <div class="text-dark title-card p-2 rounded text-center">
                    <h1 class="display-4">{{ site.data.theme.title }}</h1>
                    {% if site.data.theme.tagline %}<p>{{ site.data.theme.tagline }}</p>{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{%- else -%}
<div class="container">
    <div class="row mt-2">
        <div class="col-md-12">
            <h1 class="h3">
                <a href="{{ '/' | absolute_url }}" class="text-dark text-uppercase">{{ site.data.theme.title }}</a>
                <small class="text-muted text-truncate">| {{ site.data.theme.tagline }}</small>
            </h1>
        </div>
    </div>	
</div>
{%- endif -%}