{% if page.layout == "home-infographic" and page.banner-image %}
<style>
#home-banner {
    background-image: url('{{ page.banner-image | relative_url }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.title-card {
    background-color: #ffffffd1;
}
</style>
<div class="jumbotron pb-0 mb-0 rounded-0" id="home-banner">
    <div class="row py-4">
        <div id="home-title-box" class="col-md-8 mx-auto display-block text-center">
            <div class="card title-card ">
                <h1 class="display-4">{{ site.title }}</h1>
                <p>{{ site.tagline }}</p>
            </div>
        </div>
    </div>
</div>
{%- else -%}
<div class="container">
    <div class="row mt-2">
        <div class="col-md-12">
            <h1 class="h3">
                <a href="{{ '/' | absolute_url }}" >{{ site.title }}</a>
                <small class="text-muted">| {{ site.tagline }}</small>
            </h1>
        </div>
    </div>	
</div>
{%- endif -%}