<!-- Optional JS for Bootstrap: jQuery first, then Bootstrap bundle JS -->
<script src="{{ '/assets/lib/jquery-3.4.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/lib/bootstrap.bundle.min.js' | relative_url }}"></script>
<!-- load other js -->
<script src="{{ '/assets/lib/lazysizes.min.js' | absolute_url }}" async></script>
{% if layout.gallery == true or page.gallery == true %}{% include js/gallery-js.html %}{% endif %}
{% if page.layout == "item" %}{% include js/item-js.html %}{% endif %}
{% if page.layout == "data" %}{% include js/table-js.html %}{% endif %}
{% if page.layout == "map" %}{% include js/map-js.html %}{% endif %}
{% if page.layout == "subjects" and site.data.theme.subjects-fields %}{% include js/cloud-js.html fields=site.data.theme.subjects-fields min=site.data.theme.subjects-min stopwords=site.data.theme.subjects-stopwords %}{% endif %}
{% if page.layout == "locations" and site.data.theme.locations-fields %}{% include js/cloud-js.html fields=site.data.theme.locations-fields min=site.data.theme.locations-min stopwords=site.data.theme.locations-stopwords %}{% endif %}
{% if page.layout == "search" %}{% include js/lunr-js.html %}{% endif %}
{% if page.layout == "browse" %}{% include js/browse-js.html %}{% endif %}
{% if page.layout == "timeline" %}{% include js/timeline-js.html %}{% endif %}
{% if page.layout == "home-infographic" %}{% include js/carousel-js.html %}{% endif %}
