<footer class="navbar navbar-dark bg-secondary mt-3">
    <div class="container py-3">
        <a class="navbar-brand" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
        <span class="navbar-text navbar-nav mr-auto">{{ site.collection-date }}</span><br>
        <span class="navbar-text navbar-nav">built with <a href="https://github.com/CollectionBuilder/collectionbuilder-gh" target="_blank">collectionbuilder-gh <img src="{{ '/assets/images/collectionbuilder2.png' | relative_url }}" style="height:1em;"></a> </span>
    </div>
</footer>
