<meta name="keywords" content="{{ site.data.theme.keywords | escape }}" >
<meta name="description" content="{{ site.data.theme.description | escape }}">
<meta name="author" content="{{ site.data.theme.author | escape }}" >
<!-- Open Graph meta -->
<meta property="og:title" content="{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.data.theme.title | escape }}" />
<meta property="og:description" content="{{ site.data.theme.description | escape }}" />
<meta property="og:site_name" content="{{ site.data.theme.title | escape }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ site.data.theme.home-banner-image | absolute_url }}" />
<meta property="og:image:alt" content="{{ site.data.theme.home-banner-image-title | escape }}" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:locale" content="en_US" />
<!-- schema.org JSON-LD -->
<script type="application/ld+json">{"@context":"http://schema.org","@type":"WebPage","headline":"{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.data.theme.title | escape }}","author":{"@type":"Person","name":"{{ site.data.theme.author | escape }}"},"description":"{{ site.data.theme.description | escape }}",{% if site.featured-image %}"image":"{{ site.featured-image | absolute_url }}",{% endif %}"url":"{{ page.url | absolute_url }}"}</script>
