/*  
    pages - style tweaks related to individual CB pages
    although most presentation is controlled by Bootstrap classes, these styles are necessary for default visualization pages to function correctly
*/
/* index */
.carousel-item-title {
    background-color: rgba(37, 36, 36, 0.72);
}

/* item page */
.gallery-img {
    cursor: pointer;
}
#item-nav {
    a { 
        position: absolute;
        top:500px;
    }
    .previous { left:10px; }
    .next{ right:10px; }
}
.breadcrumb {
    padding: 0.75rem 1rem;
    background-color: rgb(248, 249, 250);
    border-radius: 0.25rem;
}
/* browse */

/* map */
#map { height: 750px; z-index: 98; }
.mapthumb {
    height: 100px;
}
.leaflet-fusesearch-panel .header {
    padding-bottom: 1.5em;
}

/* timeline */

/* subjects */
.tagcloud0{font-size:0.4em;}
.tagcloud1{font-size:0.5em;}
.tagcloud2{font-size:0.8em;}
.tagcloud3{font-size:1.1em;}
.tagcloud4{font-size:1.4em;}
.tagcloud5{font-size:1.6em;}
.tagcloud6{font-size:1.9em;}
.tagcloud7{font-size:2.2em;}
.tagcloud8{font-size:2.5em;}
.tagcloud9{font-size:2.8em;}
.tagcloud10{font-size:3.0em;}

/* About */
/* side nav toc */ 
// mobile style
#about-toc {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    background-color: var(--bs-body-bg);
}
#about-toc-title {
    button { 
        width: 100%;
    }
}
#about-toc-list {
    padding: 1rem 3rem;
}
.jekyll-toc-list { 
    list-style: none;
    padding-left: 0;
}
// desktop style
@media (min-width: $xl) {
    #about-toc {
        float: left;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        max-width: 215px;
    }
    #about-toc-title { display: none; }
    #about-toc-list { 
        display: block; 
        padding: 2rem 0 2rem 1rem;
    }
    .jekyll-toc-list { 
        padding: 1rem;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
    }
}

/* creating a narrow text column */ 
.about-contents > {
    h1, h2, h3, h4, h5, h6 {
        max-width: $page-narrow-width;
        margin: 1.5rem auto 1rem;
    }
    p, .about-narrowed-content, .footnotes, ol, ul {
        max-width: $page-narrow-width;
        margin-left: auto;
        margin-right: auto;
    }
}

/* narrow text block for page-narrow layout */
.page-narrow {
    max-width: $page-narrow-width;
    margin-left: auto;
    margin-right: auto;
}
