/*
    some Bootstrap classes and variables needed to override theme customizations
*/

/* bg-opacity classes */ 
.bg-opacity-75 {
    --bs-bg-opacity: 0.75;
}
.bg-opacity-50 {
    --bs-bg-opacity: 0.50;
}
.bg-opacity-25 {
    --bs-bg-opacity: 0.25;
}
.bg-opacity-10 {
    --bs-bg-opacity: 0.10;
}