{% comment %} 

    Image item carousel.
    This include adds a Bootstrap Carousel component populated with randomly selected image items, designed with index page in mind. 
    https://getbootstrap.com/docs/4.6/components/carousel/

    E.G. --> {% include index/carousel.html title="Sample Items" height=450 %}

    Options:

    - "height" - the height of the carousel in px, just give the number (optional, default 300)
    - "title" - card title text inside card content area (optional)
    - "header" = card header text in bar above card content (optional)
    - "max" = maximum images selected for slide show (optional, default 9. Do not make too big!)
    - "btn-color" - a bootstrap color class to theme the buttons. Can be any bootstrap template color (e.g. info, success) or outline (e.g. outline-info, outline-success), including colors created in config-theme-colors. (optional, default "info")
    - "btn-text" - the label used in the link btn to view the carousel item (optional, default "View Item")
    
{%- endcomment -%}

{%- assign image-items = site.data[site.metadata ] | where_exp: "item","item.format contains 'image'" -%}
{%- assign youtube-items = site.data[site.metadata ] | where_exp: "item","item.youtubeid" -%}
{%- assign carousel-items = image-items | concat: youtube-items -%}
{%- assign carousel-max = include.max | default: 9 -%}
{%- assign btn-color = include.btn-color | default: "primary" -%}
{%- assign btn-text = include.btn-text | default: "View Item" -%}

{%- comment -%}
    Set up carousel div
{%- endcomment -%}
<style>
    #imageCarousel .carousel-item { height: {{ include.height | remove: 'px' | strip | default: '300' }}px; }
</style>
<div class="card mb-3">
    {% if include.header %}<h5 class="card-header">{{ include.header }}</h5>{% endif %}
    <div class="card-body">
        {% if include.title %}<h5 class="card-title">{{ include.title }}</h5>{% endif %}
        
        <div id="imageCarousel" class="carousel slide bg-dark rounded mb-3" data-ride="carousel">
            <ol id="carouselIndicators" class="carousel-indicators">
                
            </ol>
            <div id="carouselInner" class="carousel-inner">
                
            </div>
            <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
            
    </div>
</div>
{%- comment -%}
    add slides using JS to allow for randomizing slide show
{%- endcomment -%}
<script>
(function(){
    /* add item data */
    var carouselItems = [ {% for c in carousel-items %}[ {{ c.title | jsonify }}, {% if c.youtubeid %}"https://img.youtube.com/vi/{{ c.youtubeid }}/hqdefault.jpg"{% elsif c.filename contains '/' %}{{ c.filename | jsonify }}{% else %}{{ '/objects/' | relative_url | append: c.filename | jsonify }}{% endif %}, "{{ c.objectid }}" ]{% unless forloop.last %}, {% endunless %}{% endfor %}];
    /* shuffle items */
    carouselItems.sort(function() { return 0.5 - Math.random() });
 
    /* add items to carousel */
    var carousel = document.getElementById("carouselInner");
    var carouselIndicators = document.getElementById("carouselIndicators");
    var slides = "";
    var indicators = "";
    var i;
    for (i=0; i < {{ carousel-items | size | at_most: carousel-max }}; i++) {
        // calculate item image location
        itemImg = carouselItems[i][1];
        // calculate item link
        itemLink = "{{ '/item.html' | relative_url | append: '?id=' }}" + carouselItems[i][2];
        // active class for first item
        if (i==0) {
            active = "active";
        } else {
            active = "";
        }
        // create indicator 
        indicator = '<li data-target="#imageCarousel" data-slide-to="' + i.toString() + '" class="' + active + '"></li>';
        // create slide
        slide = '<div class="carousel-item py-2 ' + active +'"><img class="d-block h-100 mx-auto lazyload" alt="image highlight" data-src="' + itemImg + '"> <div class="carousel-caption"><h5 class="carousel-item-title text-white py-2">' + carouselItems[i][0] + '</h5><a target="_blank" href="' + itemLink + '" class="btn btn-sm btn-{{ btn-color }}">{{ btn-text }}</a></div></div>';
        slides += slide;
        indicators += indicator;
    }
    // add indicators to page 
    carouselIndicators.innerHTML = indicators;
    // add slides to the page
    carousel.innerHTML = slides;
})();
</script>
