{%- assign carousel-size = site.data[site.metadata] | size | at_most: 9 -%}
<style>
    #imageCarousel .carousel-item { height: {{ site.data.theme.carousel-height | remove: "px" | default: '300' }}px; }
</style>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Sample Items</h5>
        <div class="row">
            <div class="col-md-12 pb-3">
                <div id="imageCarousel" class="carousel slide bg-dark rounded" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for i in (1..carousel-size) %}
                        <li data-target="#imageCarousel" data-slide-to="{{ forloop.index }}" class="{% if forloop.first %}active{% endif %}"></li>
                        {% endfor %}
                    </ol>
                    <div id="carouselInner" class="carousel-inner">
                        
                    </div>
                    <a class="carousel-control-prev" href="#imageCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#imageCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>