{% comment %} 

    Image item carousel.
    This include adds a Bootstrap Carousel component populated with randomly selected image items, designed with index page in mind. 
    https://getbootstrap.com/docs/5.1/components/carousel/

    E.G. --> {% include index/carousel.html title="Sample Items" height=450 %}

    Options:

    - "height" - the height of the carousel in px, just give the number (optional, default 300)
    - "title" - card title text inside card content area (optional)
    - "header" = card header text in bar above card content (optional)
    - "max" = maximum images selected for slide show (optional, default 9. Do not make too big!)
    - "btn-color" - a bootstrap color class to theme the buttons. Can be any bootstrap template color (e.g. info, success) or outline (e.g. outline-info, outline-success), including colors created in config-theme-colors. (optional, default "primary")
    - "btn-text" - the label used in the link btn to view the carousel item (optional, default "View Item")
    
{%- endcomment -%}

{%- assign image-items = site.data[site.metadata ] | where_exp: 'item', 'item.objectid' | where_exp: "item","item.format contains 'image'" -%}
{%- assign youtube-items = site.data[site.metadata ] | where_exp: 'item', 'item.objectid' | where_exp: "item","item.youtubeid" -%}
{%- if youtube-items -%}{%- assign carousel-items = image-items | concat: youtube-items -%}{%- else -%}{%- assign carousel-items = image-items -%}{% endif %}

{% if site.data.theme.carousel-child-objects == true %}
{%- assign carousel-items = carousel-items | where_exp: 'item','item.title != nil' -%}
{% else %}
{%- assign carousel-items = carousel-items | where_exp: 'item','item.parentid == nil' -%}
{% endif %}

{%- assign carousel-max = include.max | default: 9 -%}
{%- assign btn-color = include.btn-color | default: "primary" -%}
{%- assign btn-text = include.btn-text | default: "View Item" -%}

{%- comment -%}
    Set up carousel div
{%- endcomment -%}
<style>
    #imageCarousel .carousel-item { height: {{ include.height | remove: 'px' | strip | default: '300' }}px; }
</style>
<div class="card mb-3">
    {% if include.header %}<h5 class="card-header">{{ include.header }}</h5>{% endif %}
    <div class="card-body">
        {% if include.title %}<h5 class="card-title">{{ include.title }}</h5>{% endif %}
        
        <div id="imageCarousel" class="carousel slide bg-dark rounded mb-3" data-bs-ride="carousel">
            <div id="carouselIndicators" class="carousel-indicators">
                
            </div>
            <div id="carouselInner" class="carousel-inner">
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
            
    </div>
</div>
{%- comment -%}
    add slides using JS to allow for randomizing slide show
{%- endcomment -%}
<script>
(function(){
    /* add item data */
    var carouselItems = [ {% for c in carousel-items %}[ {{ c.title | jsonify }}, {% if c.youtubeid %}"https://img.youtube.com/vi/{{ c.youtubeid }}/hqdefault.jpg"{% elsif c.filename contains '/' %}{{ c.filename | jsonify }}{% else %}{{ '/objects/' | relative_url | append: c.filename | jsonify }}{% endif %}, {% if c.parentid %}"{{ c.parentid }}#{{ c.objectid }}"{% else %}"{{ c.objectid }}"{% endif %} ]{% unless forloop.last %}, {% endunless %}{% endfor %}];
    /* shuffle items */
    carouselItems.sort(function() { return 0.5 - Math.random() });
 
    /* add items to carousel */
    var carousel = document.getElementById("carouselInner");
    var carouselIndicators = document.getElementById("carouselIndicators");
    var slides = "";
    var indicators = "";
    var i;
    for (i=0; i < {{ carousel-items | size | at_most: carousel-max }}; i++) {
        // calculate item image location
        itemImg = carouselItems[i][1];
        // calculate item link
        itemLink = "{{ '/item.html' | relative_url | append: '?id=' }}" + carouselItems[i][2];
        // create indicator 
        indicator = `<button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="${i.toString()}" ${ i == 0 ? 'class="active" aria-current="true" ' : '' }aria-label="Slide ${i.toString()}"></button>`;
        // create slide
        slide = `<div class="carousel-item py-2${ i == 0 ? ' active' : '' }">
            <img class="d-block h-100 mx-auto lazyload" alt="image highlight" data-src="${itemImg}">
            <div class="carousel-caption">
                <h5 class="carousel-item-title text-white py-2">${carouselItems[i][0]}</h5>
                <a href="${itemLink}" class="btn btn-sm btn-{{ btn-color }}">{{ btn-text }}</a>
            </div></div>`;
        slides += slide;
        indicators += indicator;
    }
    // add indicators to page 
    carouselIndicators.innerHTML = indicators;
    // add slides to the page
    carousel.innerHTML = slides;
})();
</script>
