{% comment %} 

    Collection Description card.
    Pulls description from _config.yml. Provides btn link to About page if present in the config-nav.

    E.G. --> {% include index/description.html %}
    
    Options: 

    - "btn-color" - a bootstrap color class to theme the buttons. Can be any bootstrap template color (e.g. info, success) or outline (e.g. outline-info, outline-success), including colors created in config-theme-colors. (optional, default "primary")
    - "heading_level" = customize the level of the heading if necessary for accessibility, choose "h1", "h2", "h3", etc (optional, default "h2")

{%- endcomment -%}
<div class="card mb-3">
    <div class="card-body">
        <{{ include.heading_level | default: 'h2' | strip }} class="card-title h5">Description</{{ include.heading_level | default: 'h2' | strip }}>
        <p class="card-text">{{ site.description }}</p>
        {%- assign about = site.data.config-nav | where: "stub","/about.html" | size -%}{% if about > 0 %}
        <a class="btn btn-{{ include.btn-color | default: 'primary' }}" href="{{ '/about.html' | relative_url }}" >Learn More &raquo;</a>{% endif %}
    </div>
</div>
