{%- if page.featured-subjects -%}
{%- assign topSubjects = page.featured-subjects | split: ";" -%}
{%- else -%}
{%- assign raw-subjects = site.data.metadata | map: "subject" | join: ";" | split: ";" -%}
{%- capture subjects -%}{%- for s in raw-subjects -%}{%- if s != "" and s != " " -%}{{ s | strip | downcase }};{%- endif -%}{%- endfor -%}{%- endcapture -%}
{%- assign subjects = subjects | split: ";" -%}
{%- assign uniqueSubjects = subjects | uniq | sort -%}
{%- capture subjects-count -%}{% for unique in uniqueSubjects %}{% assign count = subjects | where_exp: 'item', 'item == unique' | size %}{{ count | prepend: '0000' | slice: -4, 4 }}||{{ unique | capitalize }}{% unless forloop.last %};{% endunless %}{% endfor %}{%- endcapture -%}
{%- assign subjects-count = subjects-count | split: ";" | sort | reverse -%}
{%- capture topSubjects -%}
{% for i in subjects-count limit:6 %}{{ i | split: "||" | last }};{% endfor %}{% endcapture %}
{%- assign topSubjects = topSubjects | split: ";" -%}
{%- endif -%}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Top Subjects</h5>
    <p class="card-text">
        {% for s in topSubjects %}
        <a class="btn btn-sm btn-info m-1" href="{{ s | strip | url_param_escape | prepend: '/browse/#' | relative_url }}">{{ s | strip }}</a>{% endfor %}
    </p>
  </div>
</div>
