{%- assign raw-dates = items | map: 'date' -%}
{% capture clean-dates %}{% for date in raw-dates %}{% if date %}{% if date contains "-" %}{{date | split: "-" | first }}{% elsif date contains "/" %}{{ date | split: "/" | last }}{% else %}{{ date }}{% endif %}{% unless forloop.last %};{% endunless %}{% endif %}{%- endfor -%}{% endcapture %}
{%- assign date-range = clean-dates | split: ";" | sort  -%}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Time Span</h5>
    <p class="card-text"><a href="{{ '/timeline/' | relative_url }}">{{ date-range | first }} to {{ date-range | last }}</a></p>
  </div>
</div>