 <div class="card float-right col-md-4 col-12 ml-md-2 my-2 p-0">
    <h5 class="card-header">Creating Your Collection</h5>
    <div class="card-body">
    <div class="card-text">
        <h5>For <b>illustrated, step-by-step instructions</b> on how to build your digital collection, see our: </h5><p class="text-center"><a class="btn btn-success my-2" href="{{ '/documentation/' | absolute_url }}">CollectionBuilder-GH How-To Guide</a></p>
        <small>
            <p>For those who can't wait, below are six quick steps to get you started.</p>
        <ol><li>Import <a href="https://github.com/CollectionBuilder/collectionbuilder-gh" target="_blank">the CollectionBuilder GitHub repository </a> into your own GitHub repository.</li>
            <li>Download the <a href="https://docs.google.com/spreadsheets/d/1Uv9ytll0hysMOH1j-VL1lZx6PWvc1zf3L35sK_4IuzI/edit#gid=0" target="_blank">Metadata Template</a>.</li>
            <li>Follow the formatting of the example record in the template to fill in metadata on your own objects.</li>
            <li>Upload your files into the "Objects" folder in your repository</li>
            <li><a target="_blank" href="https://help.github.com/en/articles/configuring-a-publishing-source-for-github-pages">Turn on GitHub Pages</a> for the Repository </li>
            <li>Check out your site via the link provied on your repository's setting's page!</li>
        </ol>     </small> 
    </div></div></div>