<div class="card float-right col-md-4 col-12 ml-md-2 my-2 p-0">
    <h5 class="card-header">Creating Your Collection</h5>
    <div class="card-body">
        <div class="card-text">
            <h5>For <strong> step-by-step instructions</strong> on how to build your digital collection, see our: </h5>
            <p class="text-center"><a class="btn btn-success my-2" href="https://collectionbuilder.github.io/cb-docs/docs/walkthroughs/gh-walkthrough/">CollectionBuilder-GH Walkthrough</a></p>
            <small>
                <p>For those who can't wait, below are six quick steps to get you started:</p>
                <ol>
                    <li>Create a new project by clicking the green "Use This Template" button on the <a href="https://github.com/CollectionBuilder/collectionbuilder-gh" target="_blank" rel="noopener">CollectionBuilder GitHub repository</a>.</li>
                    <li>Make a copy of the <a href="https://docs.google.com/spreadsheets/d/1Uv9ytll0hysMOH1j-VL1lZx6PWvc1zf3L35sK_4IuzI/edit#gid=0" target="_blank" rel="noopener">Metadata Template</a>.</li>
                    <li>Follow the formatting of the example record in the template to fill in metadata about your own objects.</li>
                    <li>Upload your files into the "objects" folder in your repository.</li>
                    <li><a target="_blank" rel="noopener" href="https://help.github.com/en/articles/configuring-a-publishing-source-for-github-pages">Activate on GitHub Pages</a> for the Repository.</li>
                    <li>Check out your site via the link provided on your repository's setting's page!</li>
                </ol>
                <p class="text-center"><strong>Find complete details in the <a target="_blank" rel="noopener" href="https://collectionbuilder.github.io/docs/introduction.html">CollectionBuilder docs</a>.</strong></p>
            </small>
        </div>
    </div>
</div>