<style>
#jumbo-feature {
    background-image: url('{% if site.data.theme.about-featured-image %}{%- unless site.data.theme.about-featured-image contains '/' -%}{% assign aboutFeaturedItem = site.data[site.metadata] | where: 'objectid', site.data.theme.about-featured-image | first %}{% unless aboutFeaturedItem.youtubeid %}{{ aboutFeaturedItem.filename | prepend: '/objects/' | relative_url }}{% else %}https://img.youtube.com/vi/{{ aboutFeaturedItem.youtubeid }}/maxresdefault.jpg{% endunless %}{% else %}{{ site.data.theme.about-featured-image | default: '/assets/img/collectionbuilder-logo.png' | absolute_url }}{% endunless %}{% else %}{% include image/featured-image.html %}{% endif %}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
</style>
<div class="jumbotron feature px-0 border" id="jumbo-feature">
    <div id="home-title-box">
        <div class="title-card p-2 text-center">
            <h2 class="display-4">{{ site.title }}</h2>
            {% if site.tagline %}<p id="home-tagline">{{ site.tagline }}</p>{% endif %}
        </div>
    </div>
</div>