---
# default "About" page layout
layout: default
---
{% capture full_content %}
{{ content }}
{% if page.about_the_about == true %}{% capture about_the_about %}{% include cb/about_the_about.md %}{% endcapture %}{{ about_the_about | markdownify }}{% endif %}
{% if page.credits == true %}{% include cb/credits.html %}{% endif %}
{% endcapture %}
<div id="about-toc">
    {% if page.toc != false %}{% include feature/about-toc.html html=full_content h_min=1 h_max=3 skip_no_ids=true class="about-toc-list" %}{% endif %}
</div>
<div class="container my-4 about-contents">
    {{ full_content }}
</div>
