---
layout: page 
---
{% assign items = site.data.metadata %}

{{ content }}

<div class="row mb-3 justify-content-center">
    <div class="col-md-8 text-center">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control form-control-lg" id="quicksearch" placeholder="Filter ... " > 
            <div class="input-group-append">
                <button class="btn btn-success" type="button" title="Search" alt="Search" id="goButton" onclick="filterItems()">Search</button>
                <a class="btn btn-outline-secondary filter" href="#" data-filter="">Reset</a>    
            </div>
        </div>
        <span class="info2 h2"><span id="numberof">{{ items | size }}</span> of {{ items | size }} items</span>
    </div>
</div>

<div class="row" id="browse-items">
    {% for item in items %}
    <div class="item col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-2" >
        <a href="{{ '/browse/item.html' | absolute_url | append: '?id=' | append: item.indexid }}">
            <img class="card-img-top lazy" {% if forloop.index < 20 %}src="{{ item.indexid | append: '_sm.jpg' | prepend: '/objects/thumbs/' | relative_url }}"{% else %}data-original="{{ item.indexid | append: '_sm.jpg' | prepend: '/objects/thumbs/' | relative_url }}"{% endif %} alt="collection object image">
        </a>
        <div class="card text-center">
            <h3 class="card-title">{{ item.title }}</h3>
            <p class="card-text"><strong>Date:</strong> {{ item.date }}</p>
            <p>
                {%- assign subjects = item.subject | split: ';' -%}
                {%- assign location = item.place | split: ';' -%}
                {%- assign topics = subjects | concat: location -%}
                {% for topic in topics %}{% if topic !=" " %}
                <a class="btn btn-sm btn-secondary m-1 filter" data-filter="{{ topic | trim |escape }}" href="{{ topic | trim | url_param_escape | prepend: '/browse/#' | relative_url }}">{{ topic }}</a> 
                {% endif %}{% endfor %} 
            </p>
            <p class="card-text">{{item.description | truncatewords: 20}}</p>
            <p>
                <a href="{{ '/browse/item.html' | absolute_url | append: '?id=' | append: item.indexid }}" class="btn btn-info" title="link to {{ item.title | escape }}">View Item</a>
            </p>
         </div>
    </div>
    {% endfor %}
</div>