---
layout: page
---
{{ content }}

{% assign datafiles = site.data.datafile-config  %}

<div class="m-4">

      <table class="table table-sm">
            <thead>
                  <tr>
                        <th scope="col">Data Type</th>
                        <th scope="col">Description</th>
                        <th scope="col">Download</th>
                  </tr>
            </thead>
            {%for datafile in datafiles%}
            <tbody>
                  <tr>
                        <th scope="row">{{datafile.display-name}}</th>
                        <td>{{datafile.description}}</td>
                        <td><a class="btn btn-sm btn-outline-primary m-2" href="{% if datafile.object == 'github-link' %}{{site.data.theme.repository}}{%else%}{{ datafile.object | prepend: '/data/' | absolute_url }}{%endif%}" target="_blank">{{datafile.display-name}}</a></td>
                  </tr>
            </tbody>
            {%endfor%}
      </table>

</div>