---
# default icons are set here, override using theme.yml!
icons: 
  icon-image: image
  icon-audio: file-earmark-play
  icon-video: camera-video
  icon-pdf: file-earmark-text 
  icon-default: file-earmark # fall back icon
---
<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    {{ content }}
    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>