---
layout: default
custom-foot: js/item-js.html
---

<div class="container mt-2 mb-4">
    <ul class="breadcrumb h6">
        <li class="breadcrumb-item"><a class="text-dark" href="{{ '/' | relative_url }}">{{ site.title }}</a></li>
        <li class="breadcrumb-item text-secondary"><a class="text-dark" href="{{ '/browse.html' | relative_url }}">Browse</a></li>
        <li id="bc-title" class="breadcrumb-item active"></li>
    </ul>

    <h2 id="item-title"></h2>

    <div id="loading" class="text-center">
        <div class="spinner-border text-secondary" role="status"><span class="sr-only">Loading...</span></div>
    </div>

    <div class="row mt-3">

        <div class="col-md-6" >
            <div class="card mb-4 text-center">
                <div class="w-100 text-center p-1" id="item-image"></div>
                <div id="item-link" class="text-center my-2"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="item-metadata" class="metadata">
            </div>
        </div> 
    </div>

    {%- if site.data.theme.browse-buttons == true -%}
    <div class="text-center">
        <a id="prev-button" class="btn btn-secondary">&laquo; Previous</a>
        <a class="btn btn-secondary" href="{{ '/browse.html' | relative_url }}">Back to browse</a>
        <a id="for-button" class="btn btn-secondary">Next &raquo;</a>
    </div>

    <div id="item-nav">
        <div class="d-none d-md-block">
            <a id="back-button" class="previous btn btn-lg btn-secondary">&laquo;</a>
            <a id="next-button" class="next btn btn-lg btn-secondary">&raquo;</a>
        </div>
    </div>
    {% else %}
    <div class="text-center">
        <a class="btn btn-outline-primary" href="{{ '/browse.html' | relative_url }}">&laquo; Back to Collection Browse</a>
    </div>
    {% endif %}
</div>
