---
# JS based item page for CB-GH
layout: default
custom-foot: js/item-js.html;js/modal-hash-js.html
gallery: true
---

<div class="container py-3">
    <ul class="breadcrumb h6">
        <li class="breadcrumb-item"><a class="text-dark" href="{{ '/' | relative_url }}">{{ site.title }}</a></li>
        <li class="breadcrumb-item"><a class="text-dark" href="{{ '/browse.html' | relative_url }}">Browse</a></li>
        <li id="bc-title" class="breadcrumb-item active text-dark" aria-current="page"></li>
    </ul>
    <div class="my-0 h5 small" id="item-format"></div>
    <h2 id="item-title" class="mb-3"></h2>

    <div id="loading" class="text-center">
        <div class="spinner-border text-secondary" role="status"><span class="visually-hidden">Loading...</span></div>
    </div>

    <div class="row justify-content-center">

        <div class="col-12 col-md-10">
            <div id="item-content"></div>
        </div>
        <div class="col-12 col-md-10">
            <div id="item-metadata">
            </div>
        </div> 
    </div>

    <div id="browse-buttons" class="text-center">
        <a class="btn btn-secondary" href="{{ '/browse.html' | relative_url }}">&laquo; Back to Collection Browse</a>
    </div>
    <div id="item-nav"></div>
 
</div>
