---
layout: default
---
{%- assign fields = site.data.metadata-config -%}

<div class="container mt-2">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ '/' | absolute_url }}">{{ site.title }}</a></li>
        <li class="breadcrumb-item"><a href="{{ '/browse/' | absolute_url }}">Browse</a></li>
        <li id="bc-title" class="breadcrumb-item active">Not found?</li>
    </ul>

    <div class="">
        <h2 id="item-title" class="">{{ page.title }}</h2>
    </div>

    <div class="row mt-3">

        <div class="col-md-4" >
            <div id="item-image"></div>
            <div id="item-link" class="text-center my-2"></div>
        </div>
        <div class="col-md-8">
            <div id="item-metadata" class="metadata">
                <h3>Sorry, item not found.</h3>
            </div>
        </div> 
    </div>

    <div class="text-center">
        <a class="btn btn-secondary" href="{{ '/browse/' | relative_url }}">&laquo; Back to Collection Browse</a>
    </div>
</div>

<script>
var items = { 
    {%- for item in site.data.metadata -%}
    {{ item.indexid | jsonify }} : { "filename": {{ item.filename | jsonify }}, {% for f in fields %}"{{ f.field }}": {{ item[f.field] | jsonify }}{% unless forloop.last %}, {% endunless %}{% endfor %} }{% unless forloop.last %}, {% endunless %}
    {% endfor %}
};
var queryString = window.location.search.substring(1).split("=")[1];
var record = items[queryString];
var itemTitle = record.title;
document.getElementById("bc-title").innerHTML = itemTitle;
document.getElementById("item-title").innerHTML = itemTitle;
var itemImage = '<img class="img-fluid img-thumbnail" src="{{ site.baseurl }}/objects/thumbs/' + queryString + '_sm.jpg" alt="item thumbnail">';
document.getElementById("item-image").innerHTML = itemImage;
var itemLink = '<a href="{{ "/objects/" | absolute_url }}' + record.filename + '" target="_blank" class="btn btn-primary" title="Object download">Download Object</a>';
document.getElementById("item-link").innerHTML = itemLink;
var fields = '<table class="table">' + {% for f in fields %}'<tr><th scope="row" class="field">{{ f.display-name }}:</th> <td class="field-value">' + record.{{ f.field }} + '</td></tr>' + {% endfor %}'</table>';
document.getElementById("item-metadata").innerHTML = fields;
</script>