---
layout: page
---
{%- assign items = site.data[site.data.theme.metadata] -%}
{%- assign raw-dates = site.data[site.data.theme.metadata] | map: 'date' | compact | uniq -%}
{%- capture clean-years -%}{% for date in raw-dates %}{% if date contains "-" %}{{ date | strip | split: "-" | first }}{% elsif date contains "/" %}{{ date | strip | split: "/" | last }}{% else %}{{ date | strip }}{% endif %}{% unless forloop.last %};{% endunless %}{%- endfor -%}{%- endcapture -%}
{%- assign uniqueYears = clean-years | split: ";" | uniq | sort -%}
{%- if site.data.theme.year-navigation -%}
{%- assign navYears = site.data.theme.year-navigation | split: ";" -%}
{%- else -%}
{%- capture navYears -%}
{%- for i in uniqueYears -%}{%- assign t = i | modulo: site.data.theme.year-nav-increment -%}
{%- if t == 0 -%}{{ i }}{% unless forloop.last %};{% endunless %}{% endif %}{% endfor %}{%- endcapture -%}
{%- assign navYears = navYears | split: ";" -%}
{%- endif -%}
<div class="dropdown float-right" id="year-nav">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="yearButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Skip to Year
  </button>
  <div class="dropdown-menu" aria-labelledby="yearButton">
    {% for y in navYears %}
    <a class="dropdown-item" href="#{{ y }}">{{ y }}</a>{% endfor %}
  </div>
</div>

{{ content }}

<h3><a href="#{{ uniqueYears | first }}">{{ uniqueYears | first }}</a> to <a href="#{{ uniqueYears | last }}">{{ uniqueYears | last }}</a></h3>

<table class="table table-striped" id="timeline">
  {% for year in uniqueYears %}
  <tr id="{{ year }}">
    <th><h3 >{{ year }}</h3></th>
    <td>
    {%- assign inYear = items | where_exp: 'item', 'item.date contains year' -%}
    {% for item in inYear %}{%if item.format contains 'image' or item.format contains 'application' %}
      <a href="{{ '/browse/item.html' | relative_url | append: '?id=' | append: item.objectid }}" ><img class="lazyload img-thumbnail m-1" data-original="{{ item.objectid | append: '_sm.jpg' | prepend: '/objects/thumbs/' | relative_url }}" alt="{{ item.title | escape }}" data-toggle="tooltip" data-placement="bottom" title="{{ item.title | escape }} | {{ item.date | escape }}"/></a>
    {%elsif item.format contains 'audio'%}
    <a href="{{ '/browse/item.html' | relative_url | append: '?id=' | append: item.objectid }}" ><img class="lazyload img-thumbnail m-1 col-md-3 col-10" data-original="{{ '/objects/svg/audio.svg' | relative_url }}"  alt="SVG Audio Icon for {{ item.title | escape }}" data-toggle="tooltip" data-placement="bottom" title="{{ item.title | escape }} | {{ item.date | escape }}"/></a>

    {%elsif item.format contains 'video'%}
    <a href="{{ '/browse/item.html' | relative_url | append: '?id=' | append: item.objectid }}" ><img class="lazyload img-thumbnail m-1 col-md-3 col-10" data-original="{{ '/objects/svg/video.svg' | relative_url }}"  alt="SVG Video Icon for {{ item.title | escape }}" data-toggle="tooltip" data-placement="bottom" title="{{ item.title | escape }} | {{ item.date | escape }}"/></a>
    {% endif %}
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
